{% extends "base.html" %}


{% block content %}
    {% if tournaments %}
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Sedzia</th>
                <th>Link</th>
            </tr>
            {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.date }}</td>
                    <td>{{ tournament.arbiter }}</td>
                    <td><a href="{% url 'tournaments:tournament_details' pk=tournament.id %}">Zobacz</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nie rozegrano jeszcze meczow w zadnym turnieju!</p>
    {% endif %}
{% endblock %}